<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>安装后台显示界面</title>
  </head>

  <body>
      <div>
          <%= data  %>
          <span>显示结果：</span>
          <textarea id="showResult" style="width:300px;height:100px">
            <%= data  %>
          </textarea>
      </div>
  </body>
</html>
